.Product {
    width: 210px;
    margin: 5px;
}

.Title {
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
}

.New {
    color: green;
    border:1px solid green;
    padding: 2px 15px;
    border-radius: 15px;
}

.Used {
    color: red;
    border:1px solid red;
    padding: 2px 15px;
    border-radius: 15px;
}

.NE {
    color: gray;
    border:1px solid gray;
    padding: 2px 15px;
    border-radius: 15px;
}

@media (max-width: 440px) {
    .Product {
        width: 80%;
        margin: 5px;
    }
}